/* index/home page */

.container-sm1 {
  height: 300 px;
}

.navbar-brand, .navbar-nav {
  font-family: 'Lobster', cursive;
}

body {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10 px;
  min-height: 100px;
  background-color: black;
}

.col-5 {
  background-color: black;
  color: white;
}

.heading-content {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
  font-family: 'Lobster', cursive;
}

.heading-content h5 {
  font-size: 3em;
  font-weight: 300;
}

.heading-content h1 {
  font-size: 5em;
  font-weight: bolder;
}

.heading-content p {
  font-size: 2em;
  font-weight: lighter;
  word-spacing: 10px;
}

.picture {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 500px;
  height: 400px;
  position: fixed;
  left: 0px;
  bottom: 85px;
}

.mainpic {
  background-color: black;
  color: white;
  width: 100%;
}

.row1 {
  height: 400px;
}

/* About me */

.container {
  background-color: black;
  height: 550px;
}

.picture2 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#brandonSam {
  height: 500px;
  width: 350px;
  outline-style: solid;
  outline-color: white;
}

.card-title, .card-subtitle, .card-text {
  font-family: 'Lobster', cursive;
  background-color: rgb(58, 52, 52);
  color: white;
}

.card-body {
  background-color: rgb(58, 52, 52);
}

.card-subtitle {
  font-weight: bolder;
  color: white;
}

.title1 {
  color: white;
  font-family: 'Lobster', cursive;
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  outline-style: solid;
  outline-color: white;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(167, 167, 63);
  color: black;
  max-height: 150px;
  width: 100%;
  font-family: 'Lobster', cursive;
}

.footer-section-middle {
  margin-top: 30px;
  
}

.footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-section-about p {
  text-align: center;
  left: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: left;
  margin-right: auto;
  margin-left: 30px;
  border: solid black 1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bc-design {
  height: 75px;
  width: 75px;
  margin-left: 50%;
  margin-right: 50%;
}





/* .icons {} */

/* contact */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  background-color: rgb(42, 40, 40);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.head {
  background-color: #538353;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: 'Lobster', cursive;
  margin-top: -40px;
  -webkit-box-shadow: 3px 18px 33px 3px rgba(33, 94, 47, 1);
  -moz-box-shadow: 3px 18px 33px 3px rgba(33, 94, 47, 1);
  box-shadow: 3px 18px 33px 3px rgba(33, 94, 47, 1);
}

.effect-1 {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid rgb(98, 133, 91);
  font-family: 'Lobster', cursive;
}

.btn1 {
  font-family: 'Lobster', cursive;
}

/* Portfolio */

.card-title1, .card-subtitle1, .card-text1 {
  font-family: 'Lobster', cursive;
}